/* Variables */
:root {
	/*fonts*/
	--font-primary: Cuprum, "Arial Narrow", sans-serif;
	--font-secondary: "PT Sans", Calibri, sans-serif;

	/*colors*/
  --basic-black: #000000;  
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-light: #F2F6F8;
  --basic-extra-light: #F7F3EC;
  --basic-white: #ffffff;

	--font-color-light: #A9A9A9;
  --font-color-special: #FFD180;
  
  --order: #63A63E;
  --order-shadow: #367315;
  --link-button: #EE3643;
  --product-shadow: rgba(0, 0, 0, 0.15);
  --services-shadow: #405069;
  --social-background: #212A3A;
  --pagination-border: #E5E5E5;

  --materials-background: #FFBF47;
  --tools-background: #3BBCE3;
  --equipment-background: #DC91D8;
  --sales-background: #8ED78F;
  --delivery-background: #FFC047;
  --slider-background: rgba(0, 0, 0, 0.25);
  --logo-shadow: rgba(0, 0, 0, 0.24);
  --manufacturer-click-dackground: rgba(0, 0, 0, 0.0001);

  /* effects */
  --logo-slider-click: #BA2732;
  --logo-click-shadow: rgba(0, 0, 0, 0.24);  
  --order-color-hover: #5FBB2D;
  --order-color-active: #518534;
  --item-click-background: #161D29;
  --item-click-fontcolor: rgba(255, 255, 255, 0.5);
  --category-white: rgba(255, 255, 255, 0.3);
  --category-light: rgba(197, 197, 197, 0.3);
  --category-dark: rgba(169, 169, 169, 0.3);
  --account-click-fontcolor: #C5C5C5;
}

/* Global styles*/
body {
	min-width: 940px;
	margin: 0;
	padding: 10px;
	font-family: var(--font-primary);
	font-size: 18px;
	line-height: 24px;	
	color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;  
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-button {
	font-family: var(--font-primary);
	font-size: 14px;
	line-height: 18px;	
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--link-button);
	border: none;
}

.title {	
	font-family: var(--font-primary);
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;	
}

.site-navigation,
.categories-list,
.slides,
.manufacturers-list,
.services-list,
.filter-manufacturers,
.filter-supply,
.sort-list {
	list-style-type: none;
}


/* header styles */
.main-header {
	color: var(--basic-dark);
	background-color: var(--basic-light);
	background-repeat: repeat;
	background-position: top center;
}

.logo-container {
	background-color: var(--link-button);
	box-shadow: inset 0px -5px 0px var(--logo-shadow);
}

.logo-catalog:active {
	background-color: var(--logo-slider-click);
}

.header-items {
	background-color: var(--basic-extra-dark);
}

.search-text {
	color: var(--basic-black);
	background-color: var(--basic-extra-dark);
	border: none;
	box-shadow: none;
}

.search-text:focus{
	background-color: var(--basic-white);
}

.search-text::-webkit-input-placeholder {color: var(--basic-white);}
.search-text::-moz-placeholder          {color: var(--basic-white);}
.search-text:-moz-placeholder           {color: var(--basic-white);}
.search-text:-ms-input-placeholder      {color: var(--basic-white);}

.search-text:focus::-webkit-input-placeholder {
	color: transparent;	
}

.search-text:focus::-moz-placeholder {
	color: transparent;	
}

.search-text:focus:-moz-placeholder {
	color: transparent;	
}

.search-text:focus:-ms-input-placeholder {
	color: transparent;	
}

.full {
	background-color: var(--link-button);
}

.empty {
	background-color: var(--basic-extra-dark);
}

.header-order {
	background-color: var(--order);
}

.header-bookmarks:active,
.header-cart:active {
	color: var(--item-click-fontcolor);
	background-color: var(--item-click-background);
}

.header-order:hover {
	background-color: var(--order-color-hover);
}

.header-order:active {
	color: var(--item-click-fontcolor);
	background-color: var(--order);	
}

.header-description {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: var(--link-button);
}

.header-contacts {
	font-size: 14px;
	line-height: 24px;
}

.header-contacts a {
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: var(--link-button);
}

.header-account,
.account-button {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);	
}

.account-button {
	background-color: var(--basic-white);
}

.header-account a {	
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-dark);
}

.account-button.button {
	border: none;
}

.account-button.button:hover,
.account-menu a:hover {
	color: var(--link-button);
}

.header-account a:active,
.account-button.button:active {
	color: var(--account-click-fontcolor);
}

.navigation-item {
	background-color: var(--basic-dark);
	box-shadow: inset 0px -5px 0px var(--basic-extra-dark);
}

.navigation-item:hover,
.navigation-item:active {
	background-color: var(--basic-extra-dark);
}

.navigation-item a:active {
	opacity: 0.5;
}



/* main */
.category-item-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-white);
}

.materials {
	background-color: var(--materials-background);
}

.tools {
	background-color: var(--tools-background);
}

.equipment {
	background-color: var(--equipment-background);
}

.sales {
	background-color: var(--sales-background);
}

.delivery {
	background-color: var(--delivery-background);
}

.category-button {
	text-transform: uppercase;
	background-color: var(--category-white);	
}

.category-button:hover {
	background-color: var(--category-light);
}

.category-button:active {
	background-color: var(--category-dark);
}

.category-button a {
	font-size: 14px;
	line-height: 18px;
}

.slide-item {
	color: var(--basic-white);
	background-color: var(--slider-background);
}

.slide-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;	
}

.slider-button:active {
	background-color: var(--logo-slider-click);
}

.popular {
	background-color: var(--basic-extra-light);
}

.services {
	background-color: var(--basic-light);
}

.services-item {	
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-white);
	background-color: var(--basic-dark);
	box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--services-shadow);
}

.services-item:hover {
	color: var(--basic-white);
	background-color: var(--basic-extra-dark);
}

.service-item-active {
	color: var(--basic-dark);
	background-color: var(--basic-white);
	box-shadow: 0px 1px 0px var(--basic-white);
}

.services p,
.company p,
.contacts p {
	font-family: var(--font-secondary);
	font-size: 13px;
	line-height: 24px;
}

.service-title {
	color: var(--basic-dark);
}

.service-description {
	display: none;
}

.service-active {
	display: block;
}

.catalog-content,
.catalog-content button {
	font-family: var(--font-secondary);
	text-transform: uppercase;
}

.breadcrumbs {
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs a {	
	color: var(--basic-black);
}

.about-title,
.catalog-title {
	background-color: var(--basic-light);
}

/* catalog filter and sorting */
.sort-title,
.filter-title,
.filters button {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.filters legend {
	font-size: 17px;	
	line-height: 30px;
	font-weight: 700;
}

.filter-title,
.filters input[type="text"],
.sorting, 
.sorting button {
	background-color: var(--basic-extra-light);
}

.price {
	font-size: 17px;
	line-height: 18px;
	text-align: center;
}

.filter-option {
	font-size: 15px;
	line-height: 19px;
}

.sorting button {
	font-family: var(--font-secondary);
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	border: none;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--link-button);
	opacity: 0.3;
}

.sorting button.active {	
	text-decoration: none;
	color: var(--link-button);
	opacity: 1;
}

.sorting button:hover {
	text-decoration-style: solid;
	opacity: 1;
}

/* product list */
.product-list {
	list-style-type: none;
}

.product-item {
	width: 220px;
	height: 318px;
}

.product-item-title {		
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	text-transform: none;	
}

.product-item-oldprice {
	font-size: 17px;	
	line-height: 18px;
	font-weight: 700;
	text-decoration: line-through;
	color: var(--font-color-light);	
}

.product-item-price {
	font-size: 17px;	
	line-height: 18px;
	font-weight: 700;
	color: var(--basic-white);
	background-image: url("../img/red-button.svg");
	background-repeat: no-repeat;	
}

.product-item:hover {
	box-shadow: 0px 4px 20px var(--product-shadow);
}

.product-item .button {
	font-family: var(--font-primary);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.buy-button {		
	color: var(--basic-white);
	background-color: var(--order);
	border: none;
	box-shadow: inset 0px -3px 0px var(--order-shadow);
	border-radius: 2px;	
}

.buy-button:hover {
	background-color: var(--order-color-hover);
}

.buy-button:active {
	background-color: var(--order-color-active);
}

.to-bookmarks-button {
	color: var(--basic-dark);
	background-color: var(--basic-white);
	border-style: solid;
	border-width: 3px;
	border-color: var(--order);
	border-radius: 2px;
}

.to-bookmarks-button:hover {
	border-color: var(--basic-dark);
}

.to-bookmarks-button:active {
	border-color: var(--basic-dark);
	opacity: 0.5;
}

/* catalog pagination */
.pagination-list {
	list-style-type: none;
}

.pagination-item {		
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
}

.pagination-item a {
	color: var(--basic-black);
}

.pagination-item-current {
	color: var(--basic-white);
	background-color: var(--link-button);
}

/* catalog about */
.about-category {
	font-family: var(--font-primary);
	font-size: 14px;
	line-height: 18px;	
	background-color: var(--basic-light);
}

.about-category p {
	font-size: 13px;
	line-height: 24px;	
	text-transform: none;
}



/* footer-styles */ 
.main-footer {
	color: var(--basic-white);
	background-color: var(--basic-dark);	
}

.footer-bottom {	
	background-color: var(--basic-extra-dark);
}

.footer-categories a,
.footer-email,
.footer-developer {
	color: var(--font-color-special);
}

.social-item {
	background-color: var(--social-background);
}

.social-item:hover,
.social-item:active {
	background-color: var(--link-button);
}

.footer-menu a:hover,
.footer-email:hover,
.footer-developer:hover {
	text-decoration: underline;
}

.footer-menu a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-email:active,
.footer-developer:active {
	text-decoration: none;
	color: var(--link-button);
}



/* modal window added-to-cart*/
.added-to-cart {
	font-family: var(--font-primary);
}

.added-title {	
	font-size: 24px;	
	line-height: 30px;
	font-weight: 700;
}

.added-to-cart button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase; 
}

/* modal window feedback*/
.feedback-send {
	background-color: var(--basic-light);
}